.modal-content {
    background-color: #9C89B8;
}

.modal-header {
    background-color: #9C89B8;
}

.modal-body {
    background-color: #9C89B8;
}

.modal-footer {
    background-color: #9C89B8;
}

.techStack {
    margin: 0.5rem;
}
