#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    color: #9C89B8;
}

.skillTitle {
    margin: 3rem 0 0;
    font-size: 3rem;
    font-weight: 600;
}

.skillBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: center;
}


.skillBarImg {
    height: 10rem;
    width: auto;
    padding: 2rem;
    margin: 1rem;
}

.skillBarImg:hover {
    box-shadow: #ffff00;
}
