.footer {
    width: 100vw;
    height: 4rem;
    background: #F0E6EF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
    color: #9C89B8;
}
